.footer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    padding: 1rem 8rem;
}

.footer h3 {
    font-family: var(--playfair);
    font-size: 1.5rem;
}

.footer p {
    font-family: var(--roboto);
    font-size: 0.75rem;
}

