{% extends "base.html" %}

{% block title %}Home - Convertiano{% endblock %}

{% block content %}
<main class="index">
    <form>
        <label for="url">URL do vídeo:</label>
        <input type="text" placeholder="ex: https://www.youtube.com/watch?v=C7akTOA5WqQ" />
        <label>Instrumento:</label>
        <select name="instrument" id="instrument">
            <option value="">--Escolha uma opção--</option>
            <option value="piano">Piano</option>
          </select>
        <button>Converter</button>
    </form>
</main>
{% endblock %}